.section {
    margin: 10px 0px;
    background-color: #ffffff;
    box-shadow: 0 0 3px #bbb;
}

.section__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #eee;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    margin: 0;
}